{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% block content %}
<head>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->
    <style>

        body {
            margin-left: 0;
            margin-right: 0;
            /* padding: 0; */
        }

        #main-div {
            margin: 0;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<nav class="nav">
    <a href={{ url_for('home_page') }} class="nav-item" active-color="orange">{%trans%}Home{%endtrans%}</a>
    <a href={{ url_for('chat') }} class="nav-item is-active" active-color="rebeccapurple">{%trans%}Chat{%endtrans%}</a>
    <span class="nav-indicator"></span>
</nav>

<h1>CHAT</h1>

   <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
   <div class="message_holder"></div>

   <form action="" method="POST">
     <input type="text" class="username" placeholder="User Name"/>
     <input type="text" class="message" placeholder="Messages"/>
     <input type="submit"/>
   </form>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script type="text/javascript">
     var socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');

     socket.on( 'connect', function() {
       socket.emit( 'my event', {
         data: 'User Connected'
       } )
       var form = $( 'form' ).on( 'submit', function( e ) {
         e.preventDefault()
         let user_name = $( 'input.username' ).val()
         let user_input = $( 'input.message' ).val()
         socket.emit( 'my event', {
           user_name : user_name,
           message : user_input
         } )
         $( 'input.message' ).val( '' ).focus()
       } )
     } )
     socket.on( 'my response', function( msg ) {
       console.log( msg )
       if( typeof msg.user_name !== 'undefined' ) {
         $( 'h3' ).remove()
         $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
       }
     })
   </script>


<!-- <h2>Login is required!</h2> -->


{% endblock %}
