{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% block content %}
<style>
    body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow: hidden;
    }
</style>
<script src="../../static/js/three.min.js"></script>
<script src="../../static/js/GLTFLoader.js"></script>
<script src="../../static/js/OrbitControls.js"></script>
<script>
    let scene, camera, renderer;

    function init(){

        scene = new THREE.Scene();
        scene.background = new THREE.Color(0xdddddd);
        camera = new THREE.PerspectiveCamera(40,window.innerWidth/window.innerHeight,1,5000);
        camera.rotation.y = 45/180*Math.PI;
        camera.position.x = 800;
        camera.position.y = 100;
        camera.position.z = 1000;

        // controls = new THREE.OrbitContrtol(camera);
        // controls.addEventListener('change', renderer);

        hlight = new THREE.AmbientLight(0x404040,100);
        scene.add(hlight);

        directionalLight = new THREE.DirectionalLight(0xffffff,100);
        directionalLight.position.set(0,1,0);
        directionalLight.castShadow = true;
        scene.add(directionalLight);

        light = new THREE.PointLight(0xc4c4c4,10);
        light.position.set(0,300,500);
        scene.add(light);

        light2 = new THREE.PointLight(0xc4c4c4,10);
        light2.position.set(500,100,0);
        scene.add(light2);

        light3 = new THREE.PointLight(0xc4c4c4,10);
        light3.position.set(0,100,-500);
        scene.add(light3);

        light4 = new THREE.PointLight(0xc4c4c4,10);
        light4.position.set(-500,300,0);
        scene.add(light4);

        renderer = new THREE.WebGLRenderer({antialias:true});
        renderer.setSize(window.innerWidth,window.innerHeight);

        //controls = new THREE.OrbitContrtol(camera, renderer.domElement);
        document.body.appendChild(renderer.domElement);

        let loader = new THREE.GLTFLoader();
        loader.load('scene.gltf', function(gltf){
            place = gltf.scene.children[0];
            place.scale.set(0.5,0.5,0.5);
            scene.add(gltf.scene);
            animate();
        });
    }
    function animate(){
        requestAnimationFrame(animate);
        //controls.update();
        renderer.render(scene,camera);
    }
    init();
</script>
<nav class="nav">
    <a href={{ url_for('home_page') }} class="nav-item" active-color="orange">{%trans%}Home{%endtrans%}</a>
    <a href={{ url_for('dashboard') }} class="nav-item is-active" active-color="rebeccapurple">{%trans%}Dashboard{%endtrans%}</a>
    <a href={{ url_for('member_page') }} class="nav-item" active-color="green">{%trans%}Member{%endtrans%}</a>
    {% for role in current_user.roles %}
    {% if role.name == 'admin' %}
    <a href={{ url_for('admin_page') }} class="nav-item" active-color="blue">{%trans%}Admin{%endtrans%}</a>
    {% endif %}
    {% endfor %}
    {% if current_user.is_authenticated %}
    <a href={{ url_for('user_profile_page') }} class="nav-item" active-color="salmon">{%trans%}Profile{%endtrans%}</a>
    <a href={{ url_for('user.logout') }} class="nav-item" active-color="red">{%trans%}Logout{%endtrans%}</a>
    {% else %}
    <a href={{ url_for('user.login') }} class="nav-item" active-color="yellow">{%trans%}Login{%endtrans%}</a>
    {% endif %}
    <span class="nav-indicator"></span>
</nav>

<h1>DASHBOARD</h1>


{% endblock %}
